
body {
  background-color: #fbfbfb;
  font-family: "Inter Tight", sans-serif;
  color: #141414;
  width: 100%;
  margin: 0;
}

.container {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 20px;
  align-items: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

.footer {
  background-color: #7a3145;
  color: #fbfbfb;
  height: 391px;
}

.container-footer {
  max-width: 1080px;
  height: 146px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  vertical-align: baseline;
  padding: 50px 100px 100px 100px;
}

.footer-ending {
  max-width: 1080px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  vertical-align: baseline;
  color: rgba(251, 251, 251, 0.5);
  list-style-type: none;
  text-decoration: none;
  font-family: inherit;
  padding: 200px 100px 200px 100px;
  margin: 0 auto;
}

.footer-ending a {
  list-style-type: none;
  text-decoration: none;
  font-family: inherit;
  color: rgba(251, 251, 251, 0.5);
}

.footer-logo-a {
  display: inline-block;
  margin-bottom: 25px;
}

.footer-text {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fbfbfb;
}

.lines {
  display: none;
  color: white;
  margin-top: 60px;
}

@media screen and (max-width: 375px) {
  header {
    width: 375px;
    height: 812px;
  }

  .navbar {
    position: relative;
  }

  .logo-svg {
    width: 168px;
    height: 16px;
  }

  .lines {
    display: block;
    position: absolute;
    right: 10px;
    z-index: 3;
  }

  .outline {
    width: 32px;
    height: 32px;
  }

  .link {
    display: none;
  }

  .backgroundLeft {
    width: 100%;
    height: 50%;
  }

  .backgroundRight {
    width: 100%;
    height: 50%;
    bottom: 0;
  }

  .text {
    width: 335px;
    height: 302px;
    display: flex;
    flex-direction: column;
    left: 5%;
  }

  .text p {
    width: 335px;
    height: 90px;
    font-size: 14px;
    line-height: 18px;
    margin-top: -50px;
  }

  .text h1 {
    width: 335px;
    height: 192px;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5%;
  }
}


@media screen and (min-width: 376px) and (max-width: 768px) {

  .backgroundRight {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  header {
    width: 768px;
    height: 1024px;
  }

  .navbar {
    position: relative;
  }

  .lines {
    display: block;
    position: absolute;
    right: 50px;
    z-index: 3;
  }

  .outline {
    width: 40px;
    height: 40px;
  }

  .link {
    display: none;
  }

  .backgroundLeft {
    width: 100%;
    height: 50%;
  }

  .backgroundRight {
    width: 100%;
    height: 50%;
    bottom: 0;
  }

  .text {
    width: 704px;
    height: 313px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    left: 5%;

  }

  .text p {
    width: 603px;
    height: 60px;
  }

  .text h1 {
    width: 704px;
    height: 228px;
    font-weight: 600;
    font-size: 76px;
    line-height: 76px;
    letter-spacing: -1.5%;
  }
}
.how-it-works {
  color: #fbfbfb;
  background: linear-gradient(
    to bottom,
    #7a3145 0%,
    #7a3145 50%,
    #576f35 50%,
    #576f35 100%
  );
  align-items: center;
  height: auto;
  width: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.athletic-woman {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.responsive-image {
  border-radius: 30px;
  max-width: 450px;
  width: 100%;
  height: 450px;
  filter: brightness(70%);
  object-fit: cover;
}

.text-section {
  align-items: center;
  justify-content: center;
  max-width: 450px;
  width: 100%;
  height: 450px;
  padding-top: 80px;
}

.text-section h2 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.015em;
  text-align: left;
}

.text-section p {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}

.footer-nav-menu {
  display: flex;
  flex-direction: column; /* Dikey dizilim */
  gap: 40px; /* Geniş ekranlar için boşluk */
}

.steps {
  list-style: none;
  counter-reset: step-counter;
  padding-left: 0;
}

.steps li {
  position: relative;
  margin-bottom: 20px;
  background-color: #fbfbfb;
  border-radius: 10px;
  font-size: 16px;
  color: rgba(20, 20, 20, 0.4);
  box-sizing: border-box;
  height: 80px;
  max-width: 450px;
  line-height: 80px;
}

.steps p {
  padding-left: 70px;
}

.steps li::before {
  content: counter(step-counter);
  counter-increment: step-counter;
  position: absolute;
  margin-left: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #7a3145;
  color: white;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
  border: 5px solid rgba(255, 255, 255, 0.6);
}

.steps-color {
  color: #141414;
  font-weight: bold;
}

.steps li p {
  margin: 0;
  line-height: 1.6;
  display: inline-block;
  vertical-align: middle;
}

.color-text-vegetable,
.color-text-steps {
  color: #fbfbfb4d;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.015em;
  text-align: left;
}

.footer-address {
  font-family: inherit;
  text-decoration: none;
  list-style-type: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: -0.015em;
  text-align: left;
  text-transform: uppercase;
}
.discount-span {
  display: inline-block;
  max-width: 335px;
  width: 100%;
  font-family: Inter Tight;
  font-size: 48px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: -0.015em;
  color: rgba(251, 251, 251, 1);
  background: rgba(87, 111, 53, 1);
  background-size: 102px;
  text-transform: uppercase;
  border-radius: 12px;
  padding: 5px;
}
}

@media screen and (min-width: 375x) {
  .disc-text {
    font-size: 48px;
    font-weight: 600;
    line-height: 50px;
    max-width: 335px;
    width: 100%;
  }

  .discount-span {
    font-size: 48px;
    font-weight: 600;
    line-height: 50px;
    max-width: 335px;
    width: 100%;
  }
  .advert-text {
    max-width: 355px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .disc-text {
    font-size: 64px;
    font-weight: 600;
    line-height: 80px;
    max-width: 704px;
    width: 100%;
  }

  .discount-span {
    font-size: 64px;
    font-weight: 600;
    line-height: 80px;
    max-width: 736px;
    width: 100%;
  }

  .advert-text {
    max-width: 736px;
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .disc-text {
    font-size: 76px;
    font-weight: 600;
    line-height: 80px;
    max-width: 1054px;
    width: 100%;
    margin: auto;
  }

  .discount-span {
    font-size: 76px;
    font-weight: 600;
    line-height: 80px;
    max-width: 808px;
    width: 100%;
    margin: auto;
  }

  .advert-text {
    max-width: 1080px;
    width: 100%;
    margin: auto;
  }
}
/* Genel stiller */


/* Başlık stili */
h1 {
  margin: 0;
}


/* Vegetables bölümü */
.vegetables {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer-address a {
  text-decoration: none;
  list-style-type: none;
  font-style: normal;
  color: #fbfbfb;
}
