body {
  background-color: #FBFBFB;
  font-family: "Inter Tight", sans-serif;
  color: #141414;
  width: 100%;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
}
.reviews-from {
  font-weight: 600;
  font-size: 64px;
  letter-spacing: -1.5%;
  color: #141414;
  line-height: 1;
}
.customers {
  font-weight: 600;
  font-size: 64px;
  letter-spacing: -1.5%;
  color:#576f35;
  line-height: 1;
}
.reviews-p {
  font-weight: 500;
  font-size: 16px;
  color: #141414;
  line-height: 1.25;
}